{% load staticfiles %}
<html>

<head>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
</head>

<body>
	<center>
		<form method='POST'>
		{% csrf_token %}
		Individual: <input type="text" name="name" placeholder="Name"> <br/>
		rsID: <input type="text" name='rsID'> <br/>
		<input class="btn btn-default" type="submit" value="Analyze">
		</form>
	</center>
	
	{% if name %}
		<table class="table table-striped">
			<tr>
				<td><strong>RsID:</strong></td>
				<td><strong>chr#:bp#</strong></td>
				<td><strong>Genotype:</strong></td>
				<td><strong>Phenotype:</strong></td>
			</tr>
		{% if SNP_dict %}
			{% for rsID, information  in SNP_dict.iteritems %}
				<tr>
					<td> {{ rsID }} </td>
					<td> {{ information.0 }}
					<td> {{ information.1 }} </td>
					<td> {{ summary }} </td>
				</tr>
			{% endfor %}
		{% endif %}
		</table>
		{{ description }}
	{% endif %}

</body>		
</html>